.ui-label {
    float: left;
    width: 170px;
    margin-left: -180px;
    padding-top: 8px;
    line-height: 22px;
    text-align: right;
    font-size: 14px;
}

.ui-form-required {
    color: #FF0000;
    font-family: SimSun;
    font-size: 14px;
    margin-right: 6px;
}

input.ui-checkbox {
    vertical-align: baseline;
}
