.ui-button * {
    margin:0;
    padding:0;
}

.ui-button {
    display: inline-block;
    *display: inline;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit; /* Correct font family not being inherited in all browsers for <button> <input> */
    font-weight: bold;
    border-radius: 2px;
    padding: 0 20px;
    *zoom: 1;
    *overflow: visible; /* for a ie6/7 bug http://blog.csdn.net/jyy_12/article/details/6636099 */
    box-shadow:none;
    background-image: none; /* for old alice button style conflict */
}

.ui-button .ui-button-text {
    background: none;
    padding: 0;
    height: auto;
    line-height: auto;
}

.ui-button:hover {
    text-decoration: none;
    background-image: none; /* for old alice button style conflict */
}

input.ui-button-text, button.ui-button-text {
    *vertical-align: top; /* for a ie7 bug */
}

