pinyin4py==1.0.dev
MySQL-python
Mako
pymongo
redis
torndb
yajl
single-process
tornado
pylibmc
mongokit
decorator
bugsnag
hmako
gearman
enum34
requests
Pillow
jieba
pypinyin
tld_name
beautifulsoup4
feedparser
