#RSIDE .post {
padding: 15px;
padding-left: 48px;
color: #fff;
background: url(_img/bg.png) no-repeat 15px 8px #3b70e1;
padding-right: 16px;
border-right: 1px solid #fff;
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
}
#RSIDE {
margin-top: 33px;
}
#RSIDE .report {
padding: 15px;
padding-left: 50px;
color: #fff;
background: url(_img/bg.png) no-repeat 18px -47px #3b70e1;
padding-right: 18px;
border-right: 1px solid #fff;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
}
#RSIDE .share h3 {
padding: 16px;
font-size: 14px;
margin: 0;
}
#RSIDE .share {
text-align: center;
margin-top: 26px;
background: #f8f8f8;
border: 1px solid #eee;
}
#RSIDE .publish a {
font-weight: bold;
}
#RSIDE .share .link .weibo {
background: url(_img/bg.png) no-repeat 17px -111px;
}
#RSIDE .share .link .tqq {
background: url(_img/bg.png) no-repeat -42px -111px;
}
#RSIDE .share .link .twitter {
background: url(_img/bg.png) no-repeat -103px -111px;
}
#RSIDE .share .link a {
border-right: 1px solid #eee;
    display: inline-block;
    height: 29px;
    width: 60px;
}
#RSIDE .share .link {
margin-top: 5px;
}
#RSIDE .share .link .rss {
margin: 0;
background: url(_img/bg.png) no-repeat -164px -111px;
}
#RSIDE .share h4 {
font-size: 12px;
padding-bottom: 4px;
}
#RSIDE .share img {
width: 100px;
height: 100px;
display: inline-block;
background: #eee;
margin-top: 27px;
}
#RSIDE .nav a {
width: 244px;
height: 153px;
background: #f8f8f8;
display: block;
margin-bottom: 15px;
}
#RSIDE .nav {
margin-top: 30px;
}
#RSIDE .share .link a:hover {
opacity: 0.7;
}
