#slide {
right: 0;
font-family: tahoma,arial,Hiragino Sans GB,"Microsoft Yahei",\5b8b\4f53;
background: #fff;
position: absolute;
top: 0;
z-index: 100;
height: 100%;
overflow-y: scroll; 
transition: margin-right 0.6s;
-moz-transition: margin-right 0.6s;	/* Firefox 4 */
-webkit-transition: margin-right 0.6s;	/* Safari å’Œ Chrome */
-o-transition: margin-right 0.6s;	/* Opera */
}
#slideDown {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
}
.slideBlur{
	-webkit-filter: blur(3px);
}