
.tip-inner .tip-user {
background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #eee;
    margin-left: -100px;
    margin-top: 10px;
    text-align: center;
    width: 247px;
}
.tip-inner .tip-user img {
width: 80px;
height: 80px;
background: red;
display: inline-block;
margin-top: 30px;
border-radius: 50px;
}
.tip-inner .tip-user h3 {
font-size: 16px;
font-weight: bold;
margin-bottom: 21px;
color:#aaa;
}
.tip-inner .tip-user div {
font-size: 14px;
padding: 0 10px;
margin-bottom: 23px;
color: #aaa;
}
.tip-inner .tip-user a {
color: #08c;
padding-bottom: 30px;
display: inline-block;
}
.tip-inner .tip-user:after {
border: 10px solid transparent;
border-bottom: 10px solid #f5f5f5;
width: 0;
height: 0;
position: absolute;
content: ' ';
margin-top: -261px;
margin-left: -80px;
}
